name: Compilar y Desplegar

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'BibliotecaAPI/**'
      - 'BibliotecaAPITests/**'
      - '.github/workflows/compilar-y-desplegar.yml'

env:
  VERSION_DOTNET: '9'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      proyecto: BibliotecaAPI/BibliotecaAPI.csproj
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
       
      - name: Instalar .NET
        uses: actions/setup-dotnet@v5.1.0
        with:
          dotnet-version: ${{ env.VERSION_DOTNET }}

      - name: Obteniendo las dependencias
        run: dotnet restore

      - name: Compilar
        run: dotnet build --no-restore

      - name: Realizar pruebas
        run: dotnet test BibliotecaAPITests/BibliotecaAPITests.csproj --no-build --verbosity detailed
